Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  performance-*,
  readability-*

WarningsAsErrors: ''
FormatStyle: none

HeaderFilterRegex: '.*libcompressor.*|.*compressor.*'
