Checks:          "clang-diagnostic-*,clang-analyzer-*,bugprone-*, cert-*, clang-analyzer-*, performance-*\n"
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '.*libcompressor.*|.*compressor.*'
ExcludeHeaderFilterRegex: ''
